<section class="card">
  <a href="/blogPost/{{name}}">
    <header>{{category}}</header>
  </a>
</section>

<section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
      <img src="/images/{{blogpost.[0].filename}}" alt="{{blogpost.[0].description}}">
  </a>
</section>