{{blogPosts}}
<section class="card">
    <header class="card-header">{{category}}</header>

  <a href="/blogPost/{{id}}">
    <header>{{title}}</header>
  </a>
    <p>{{description}}</p>
      {{!-- <img src="/images/{{blogpost.[0].filename}}" alt="{{blogpost.[0].description}}"> --}}
</section>