<section class="card">
  <a href="/blogPost/{{name}}">
    <header>{{category}}</header>
  </a>
</section>

<section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{blogPost.jpg}}" alt="blogPost.description">
  </a>
</section>