<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Silver Spoon</title>
  <link rel="stylesheet" href="/Develop/public/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Super Spoon</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    {{{body}}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>

<section class="container">
  <h3 class="blogPost-details">{{blogPost.title}}</h3>
  <h4>Reply Below: {{Comments}}</h4>
  <section class="flex-row justify-center">
    {{#each blogPost.comments as |comment|}}
    {{> blogPost-details}}
    {{/each}}
  </section>
</section>

<section class="comments">
  <div class="comments-details">
    <h3>{{comments.category}}</h3>
    <p>By: {{comments.description}}</p>
  </div>
</section>

{{#each blogPost as |blogPost|}}
{{> blogPost-details}}
{{/each}}

<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
